@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-warning: var(--warning);
  --color-success: var(--success);
  --color-action: var(--action);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.625rem;
  --background: #F8F7FC;
  --foreground: #222222;
  --card: #FFFFFF;
  --card-foreground: #222222;
  --popover: #FFFFFF;
  --popover-foreground: #222222;
  --primary: #9B8AC7;
  --primary-foreground: #FFFFFF;
  --secondary: #6C51B5;
  --secondary-foreground: #FFFFFF;
  --muted: #F1F5F9;
  --muted-foreground: #64748B;
  --accent: #F1F5F9;
  --accent-foreground: #222222;
  --destructive: #222222;
  --destructive-foreground: #FFFFFF;
  --border: #E2E8F0;
  --input: #E2E8F0;
  --ring: #9B8AC7;
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: #F8F7FC;
  --sidebar-foreground: #222222;
  --sidebar-primary: #9B8AC7;
  --sidebar-primary-foreground: #FFFFFF;
  --sidebar-accent: #F1F5F9;
  --sidebar-accent-foreground: #222222;
  --sidebar-border: #E2E8F0;
  --sidebar-ring: #9B8AC7;
  --warning: #F59E0B;
  --success: #2DC766;
  --action: #6BB7B2;
}

.dark {
  --background: #222222;
  --foreground: #F8F7FC;
  --card: #2A2A2A;
  --card-foreground: #F8F7FC;
  --popover: #2A2A2A;
  --popover-foreground: #F8F7FC;
  --primary: #9B8AC7;
  --primary-foreground: #FFFFFF;
  --secondary: #6C51B5;
  --secondary-foreground: #FFFFFF;
  --muted: #333333;
  --muted-foreground: #A1A1AA;
  --accent: #333333;
  --accent-foreground: #F8F7FC;
  --destructive: #EF4444;
  --destructive-foreground: #FFFFFF;
  --border: #444444;
  --input: #444444;
  --ring: #9B8AC7;
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: #222222;
  --sidebar-foreground: #F8F7FC;
  --sidebar-primary: #9B8AC7;
  --sidebar-primary-foreground: #FFFFFF;
  --sidebar-accent: #333333;
  --sidebar-accent-foreground: #F8F7FC;
  --sidebar-border: #444444;
  --sidebar-ring: #9B8AC7;
  --warning: #F59E0B;
  --success: #2DC766;
  --action: #6BB7B2;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}